@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,600,700);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "DS-Digital";
  src: url("/ds_digital/DIGITAL.TXT");
}
@font-face {
  font-family: "DS-Digital";
  src: url("/ds_digital/DS-DIGIB.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "DS-Digital";
  src: url("/ds_digital/DS-DIGII.TTF");
  font-style: italic, oblique;
}
@font-face {
  font-family: "DS-Digital";
  src: url("/ds_digital/DS-DIGIT.TTF");
  font-weight: bold;
  font-style: italic, oblique;
}