:root {
    --orange: #fa0;
    --red: red;
    --glow-rgb: 255, 102, 0;
    --text-color: #fa0;
    --danger-fill-color: #f23;
    --danger-glow-rgb: 255, 0, 0;
    --danger-text-color: #f23;
    --gutter-size: 8px;
}

.red-color {
    color: var(--red);
}

.red-bg {
    background-color: var(--red);
}

.red-border {
    border: 1px solid var(--red);
}

.strip-bar {

    /* background-image: url("/images/strip.svg");
    background-size: 17%; */
    width: max(200vw,2000px);
    height: 30px;
    display: inline-block;
    margin-bottom: -5px;

    --stripe-color: var(--orange);
    --stripe-size: 15px;
    --glow-color: rgba(255, 94, 0, .8);
    --glow-size: 3px;
    background-image: repeating-linear-gradient(-45deg,
            /* glow boundary */
            var(--glow-color) calc(-1 * var(--glow-size)),
            /* fade into foreground */
            var(--stripe-color) 0,
            /* fade from foreground */
            var(--stripe-color) calc(var(--stripe-size) - var(--glow-size) / 2),
            /* glow boundary */
            var(--glow-color) calc(var(--stripe-size) + var(--glow-size) / 2),
            /* fade to background */
            transparent calc(var(--stripe-size) + var(--glow-size) / 2),
            /* fade from background */
            transparent calc(2 * var(--stripe-size)),
            /* glow boundary */
            var(--glow-color) calc(2 * var(--stripe-size) - var(--glow-size)));
}

.strip-bar-red {

    /* background-image: url("/images/strip.svg");
    background-size: 17%; */
    width: max(200vw,2000px);
    height: 30px;
    display: inline-block;
    margin-bottom: -5px;

    --stripe-color: var(--red);
    --stripe-size: 15px;
    --glow-color: rgba(255, 17, 0, 0.8);
    --glow-size: 3px;
    background-image: repeating-linear-gradient(-45deg,
            /* glow boundary */
            var(--glow-color) calc(-1 * var(--glow-size)),
            /* fade into foreground */
            var(--stripe-color) 0,
            /* fade from foreground */
            var(--stripe-color) calc(var(--stripe-size) - var(--glow-size) / 2),
            /* glow boundary */
            var(--glow-color) calc(var(--stripe-size) + var(--glow-size) / 2),
            /* fade to background */
            transparent calc(var(--stripe-size) + var(--glow-size) / 2),
            /* fade from background */
            transparent calc(2 * var(--stripe-size)),
            /* glow boundary */
            var(--glow-color) calc(2 * var(--stripe-size) - var(--glow-size)));
}


.strip-bar-vertical {
    height: 200vw;
    transform: translate3d(0, 0, 0);
    --stripe-color: var(--orange);
    --stripe-size: 15px;
    --glow-color: rgba(255, 94, 0, .8);
    --glow-size: 3px;
    background-image: repeating-linear-gradient(45deg,
            var(--glow-color) calc(-1 * var(--glow-size)),
            var(--stripe-color) 0,
            var(--stripe-color) calc(var(--stripe-size) - var(--glow-size) / 2),
            var(--glow-color) calc(var(--stripe-size) + var(--glow-size) / 2),
            transparent calc(var(--stripe-size) + var(--glow-size) / 2),
            transparent calc(2 * var(--stripe-size)),            var(--glow-color) calc(2 * var(--stripe-size) - var(--glow-size)));
            
}

.strip-bar-red-vertical {
    height: 200vw;
    transform: translate3d(0, 0, 0);
    --stripe-color: var(--red);
    --stripe-size: 15px;
    --glow-color: rgba(255, 17, 0, 0.8);
    --glow-size: 3px;
    background-image: repeating-linear-gradient(45deg,
            var(--glow-color) calc(-1 * var(--glow-size)),
            var(--stripe-color) 0,
            var(--stripe-color) calc(var(--stripe-size) - var(--glow-size) / 2),
            var(--glow-color) calc(var(--stripe-size) + var(--glow-size) / 2),
            transparent calc(var(--stripe-size) + var(--glow-size) / 2),
            transparent calc(2 * var(--stripe-size)),            var(--glow-color) calc(2 * var(--stripe-size) - var(--glow-size)));
            
}

@keyframes slideinBg {
    from {background-position: top; }
    to {background-position: -100px 0px;}
    
    }
    

.strip-animation-vertical {
    
    animation: stripAnimationVertical 15s infinite linear;

}

.strip-animation-vertical-reverse {
    animation: stripAnimationVertical 15s infinite linear reverse;

}

.strip-animation {
    
    animation: stripAnimation 10s infinite linear;

}

.strip-animation-reverse {
    animation: stripAnimation 10s infinite linear reverse;

}


@keyframes stripAnimationVertical {


    100% {
        /* background-position: 0px 100px; */
        transform: translateY(-66%);
    }
    
    
}

@keyframes stripAnimation {


    100% {
        /* background-position: 0px 100px; */
        transform: translateX(-66%);
    }
    
    
}

.strip {

    background-color: black;
    width: 100vw;
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
    position: fixed;


}

.strip-wrapper {
    width: max(200vw,2000px);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-200%);
    }
}

.loop-strip {
    animation: loopStrip infinite linear;
    animation-duration: 10s;
}

.loop-strip-reverse {
    animation: loopStrip infinite linear reverse;
    animation-duration: 10s;
}

.anim-duration-10 {
    animation-duration: 10s !important;
}

.anim-duration-20 {
    animation-duration: 20s !important;
}

@keyframes loopStrip {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.show-pop-up {
    animation: showPopUp 0.3s ease-in-out forwards;
}

/* g.hexagon {
    fill: transparent;
} */



@keyframes showPopUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.close-pop-up {
    animation: closePopUp 0.3s ease-in-out forwards !important;
}

@keyframes closePopUp {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.vertical-reveal {
    animation: verticalReveal 0.3s ease-in-out;
}

@keyframes verticalReveal {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.glow-effect {
    animation: glowEffect 1s infinite;
}

@keyframes glowEffect {
    0% {
        -webkit-box-shadow: 0px 0px 66px 17px rgba(252, 60, 22, 0.59);
        -moz-box-shadow: 0px 0px 66px 17px rgba(252, 60, 22, 0.59);
        box-shadow: 0px 0px 66px 17px rgba(252, 60, 22, 0.59);
    }

    50% {
        -webkit-box-shadow: 0px 0px 66px 44px rgba(252, 60, 22, 0.9);
        -moz-box-shadow: 0px 0px 66px 44px rgba(252, 60, 22, 0.9);
        box-shadow: 0px 0px 66px 44px rgba(252, 60, 22, 0.9);
    }

    100% {
        -webkit-box-shadow: 0px 0px 66px 17px rgba(252, 60, 22, 0.59);
        -moz-box-shadow: 0px 0px 66px 17px rgba(252, 60, 22, 0.59);
        box-shadow: 0px 0px 66px 17px rgba(252, 60, 22, 0.59);
    }
}

/* 
.card {
    background-color: black;
    border: 3px var(--orange) solid;
    transition: 0.3s;
   
    color: white;
}

.card-header {
    padding: 10px;
    border-bottom: 3px var(--orange) solid;
    color: var(--orange);
}

.card-content {
    padding: 20px;
} */

.marker-daerah {

    width: auto;
    height: 25px;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.marker-daerah p {
    border: 1px black solid;
    color: black;
    background-color: red;
    padding: 2px;
    font-size: 8px;
    text-transform: uppercase;
    max-width: 75px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}


.marker-gempa {
    /* border: 3px red solid; */
    /* width: 25px;
    height: 25px; */
    font-size: 20px;
    color: red;
    cursor: pointer;

}

.marker-gempa-wave {
    border: 3px red solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: red;
    cursor: pointer;

}

.mapboxgl-popup {
    width: auto;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: unset;
    height: 70px;
    width: 3px;
    background-color: red;
    border: unset;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-top-color: unset;
    height: 70px;
    width: 3px;
    background-color: red;
    border: unset;
}

.mapboxgl-popup-content {
    background-color: unset;
    border: unset;
    border-radius: 0;
    padding: unset;
    max-width: 256px;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.warning-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 200px;
    max-width: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: showWarningAlert 0.3s ease-in-out forwards;
    flex-direction: column;
    align-items: center;
}

.long-shape {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;

}

.long-shape .shape {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.shape {

    position: absolute;
    margin: auto;

}

.long-shape .bg {
    background-color: #e60003;
}

.long-shape .fg {
    background-color: #e60003;
    scale: 0.98 0.92;

}

.long-shape .br {
    background-color: black;
    scale: 0.99 0.96;

}

.long-shape .hex {
    margin-top: 30px;
    transform: scale(1.5);

}

.basic-shape {
    height: 100px;
    width: 115px;
    transform: scale(1.5);
    z-index: 99;
}



.basic-shape .hex {
    position: absolute;
    margin: auto;
}


.basic-shape .hex:nth-child(1) {
    scale: 0.95;
}

.basic-shape .hex:nth-child(2) {
    scale: 0.9;
}

.basic-shape .hex:nth-child(3) {
    scale: 0.85;
}

.basic-shape .hex:nth-child(4) {
    scale: 0.8;
}




.shape .hex:nth-child(1) {
    margin-left: -20%;
}

.shape .hex:nth-child(2) {
    margin-right: -20%;
}

.warning {
    height: 500px;
    width: 450px;
}

.long-hex {
    position: relative;
    height: 150px;
    width: 275px;
    background-image: url('/images/long_shape.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.warning-black-hex {
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url('/images/warning_shape_black.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.warning-black {
    position: relative;
    height: 40px;
    width: 40px;
    background-image: url('/images/warning_gempa_black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.warning-yellow {
    position: relative;
    height: 80px;
    width: 50px;
    background-image: url('/images/warning_gempa_red_yellow.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.warning-tsunami-yellow {
    position: relative;
    height: 80px;
    width: 50px;
    background-image: url('/images/warning_tsunami_yellow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.basic-hex {
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url('/images/hex_shape.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.animation-delay-1 {
    animation-delay: 1s;
}

.animation-delay-2 {
    animation-delay: 2s;
}

.animation-delay-3 {
    animation-delay: 3s;
}

.animation-delay-4 {
    animation-delay: 4s;
}

.warning .info .basic-hex:nth-child(1) {
    /* animation: showPopUp 0.3s ease-in-out forwards; */
    animation-delay: 2s;
}

.warning .info .basic-hex:nth-child(2) {
    /* animation: showPopUp 0.3s ease-in-out forwards; */
    animation-delay: 2.2s;
}

.warning .info .basic-hex:nth-child(3) {
    /* animation: showPopUp 0.3s ease-in-out forwards; */
    animation-delay: 2.4s;
}

.animation-fast {
    animation-duration: 0.5s;
}

.blink-fast {
    animation-duration: 0.1s;
}

.overlay-bg {
    background-color: rgba(0, 0, 0, 0.8);
    /* background-image: url("/images/hexagons.png");
    transform: rotate(90deg);
    width: 300%;
    height: 300%;
    opacity: 0.5; */
}

.list-event {
    display: block;
    font: 400 16px 'Roboto Condensed';
    letter-spacing: -1px;
    line-height: 1;
    padding: 1px calc(var(--gutter-size) - 3px);
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    --text-glow-color: rgba(var(--glow-rgb), .5);
    color: var(--text-color);
    /* text-shadow: -1px 1px 0 var(--text-glow-color), 1px -1px 0 var(--text-glow-color); */
}

.text-glow-red {
    --text-glow-color: rgba(var(--danger-glow-rgb), 0.5);
    color: var(--danger-text-color);
    /* text-shadow: -1px 1px 0 var(--text-glow-color), 1px -1px 0 var(--text-glow-color); */
}

.text-glow {
    --text-glow-color: rgba(var(--glow-rgb), 0.5);
    color: var(--text-color) !important;
    /* text-shadow: -1px 1px 0 var(--text-glow-color), 1px -1px 0 var(--text-glow-color); */

}

.bordered {
    color: var(--text-color);
    --border-glow-color: rgba(var(--glow-rgb), 0.7);
    border-radius: var(--gutter-size);
    border-style: solid;
    border-width: 1px;
    border-color: unset;
    box-shadow: inset 0 0 0 1px var(--border-glow-color), 0 0 0 1px var(--border-glow-color);
}

.red-bordered {
    color: var(--danger-text-color);
    --border-glow-color: rgba(var(--danger-glow-rgb), 0.7);
    border-radius: var(--gutter-size);
    border-style: solid;
    border-width: 1px;
    border-color: unset;
    box-shadow: inset 0 0 0 1px var(--border-glow-color), 0 0 0 1px var(--border-glow-color);
}

.red-bordered-bottom {
    color: var(--danger-text-color);
    --border-glow-color: rgba(var(--danger-glow-rgb), 0.7);
    border-color: unset;
    border-bottom: 1px solid red;
    box-shadow: inset 0 0 0 1px var(--border-glow-color), 0 0 0 1px var(--border-glow-color);
}

.red-bordered-top {
    color: var(--danger-text-color);
    --border-glow-color: rgba(var(--danger-glow-rgb), 0.7);
    border-color: unset;
    border-top: 1px solid var(--danger-glow-rgb);
    box-shadow: inset 0 0 0 1px var(--border-glow-color), 0 0 0 1px var(--border-glow-color);
}

.card {
    background-color: black;
    /* border: 1px var(--red) solid; */
    transition: 0.3s;
    /* color: var(--text-color); */
    /* color: white; */
}

.card-header {
    padding: 6px;
    /* border-bottom: 1px var(--red) solid; */
    color: var(--orange);
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.card-footer {
    padding: 6px;
    border-top: 3px var(--red) solid;
    color: var(--orange);
    position: relative;
    border-radius: 0px 0px 10px 10px;
}


.card-content {
    padding: 12px;
}

.card-float {
    /* width: 30%; */
    transition: all 0.3s ease-in-out;
}

.card-float .card-content {
    display: block;
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
}



.jajar-genjang {
    height: 30px;
    width: 100%;
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    background-color: var(--orange);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252, 114, 22, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(252, 114, 22, 1);
    box-shadow: 0px 0px 5px 0px rgba(252, 114, 22, 1);
    display: flex;
    align-items: center;
    padding: 6px;
    overflow: hidden;
}

.jajar-genjang .time-countdown {}

.jajar-genjang.danger {

    background-color: var(--red);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(250, 23, 23, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(250, 23, 23, 1);
    box-shadow: 0px 0px 5px 0px rgba(250, 23, 23, 1);

}

.jajar-genjang p {
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    color: black;
    font-weight: bold;
    font-size: 14px;

}

.pinggir-jajar-genjang {
    height: 30px;
    width: 30px;
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
}



.item-daerah {


    width: 100%;
    position: relative;

}

.list-daerah .card-content {
    max-height: 50vh;
    overflow-y: auto;
}

.item-daerah.danger {}

.item-daerah .content {
    position: absolute;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.item-daerah .pinggir-jajar-genjang {
    background-color: var(--orange);

}

.item-daerah.danger .pinggir-jajar-genjang {
    background-color: var(--red);

}

.time-countdown {
    font-family: 'DS-Digital';
}

.text-time {
    font-family: 'DS-Digital';
}

.custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(61, 61, 61);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--red);
}

/* slide animation from left to right */
.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

label#internal {
    --decal-width: 50px;
    --label-corner-size: 3px;
    --label-gutter-size: 5px;

}

.label {
    overflow: hidden;
    /* padding: 1px calc(var(--gutter-size) - 3px); */
    /* width: 8rem; */
    /* display: inline-block; */
    font: 400 2rem 'Roboto Condensed';
    letter-spacing: -1px;
    line-height: 1;
    padding-right: 0px;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    --text-glow-color: rgba(var(--glow-rgb), .5);
    color: var(--text-color);
    text-shadow: -1px 1px 0 var(--text-glow-color), 1px -1px 0 var(--text-glow-color), -1px -1px 0 var(--text-glow-color), 1px 1px 0 var(--text-glow-color);
}


.label#internal .decal {
    border-radius: calc(var(--label-corner-size) - 1px);
    display: block;
    height: 100px;
    width: 100%;
}

.-striped {
    --stripe-color: var(--danger-fill-color);
    --stripe-size: 15px;
    --glow-color: rgba(var(--danger-glow-rgb), .8);
    --glow-size: 3px;
    background-image: repeating-linear-gradient(-45deg,
            /* glow boundary */
            var(--glow-color) calc(-1 * var(--glow-size)),
            /* fade into foreground */
            var(--stripe-color) 0,
            /* fade from foreground */
            var(--stripe-color) calc(var(--stripe-size) - var(--glow-size) / 2),
            /* glow boundary */
            var(--glow-color) calc(var(--stripe-size) + var(--glow-size) / 2),
            /* fade to background */
            transparent calc(var(--stripe-size) + var(--glow-size) / 2),
            /* fade from background */
            transparent calc(2 * var(--stripe-size)),
            /* glow boundary */
            var(--glow-color) calc(2 * var(--stripe-size) - var(--glow-size)));
    box-shadow: inset 0 0 1px calc(var(--glow-size) / 2) var(--shade-3);
}

.-blink {
    animation-name: blink;
    animation-duration: var(--blink-duration);
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}

/* @keyframes blink {
    50% {
        opacity: 0;
    }
} */

.label#internal .text.-characters {
    font-size: 3.5rem;
    padding-top: var(--label-gutter-size);
}

/* responsive query for mobile */
@media (max-width: 768px) {
    .card-float .card-content {
        height: 0px;
        padding: 0px;
    }

    .card-float.open .card-content {
        height: unset;
        padding: 6px;
    }

    .card-float {
        margin: auto;
        right: 0.25rem;
        left: 0.25rem;
    }

    .label#internal .decal {
        width: 40px;
    }

    .card-header {
        cursor: pointer;
    }
}

/* responsive query for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .label#internal .text.-characters {
        font-size: 3.5rem;
    }

    .label#internal .text {
        font-size: 2.5rem;
    }

    .label#internal .decal {
        width: 40px;
    }
}

.github-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.bmkg-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('/images/logo-bmkg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid var(--orange);
    position: absolute;
    left: 0;
    top: 0;
    animation: scaleOut 2s ease-in-out infinite;
}

.loader::after {
    border-color: var(--red);
    animation-delay: 1s;
}

#loading-screen {
    background-color: black;
}

@keyframes scaleOut {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.circles .circle1 {
    animation-delay: 1s;
}

.circles .circle2 {
    animation-delay: 2s;
}

.circles .circle3 {
    animation-delay: 3s;
}

.circles {
    height: 200px;
    width: 200px;
 
    margin: auto;

}

.circles div {
    animation: growAndFade 3s infinite ease-out;
    background-color: rgb(156, 94, 0);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    opacity: 0;
    position: absolute;
    box-shadow: 0 0 10px 5px rgba(156, 75, 0, 0.5);
   
}

@keyframes growAndFade {
    0% {
        opacity: .25;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.main {
    width: calc(max(120vh,120vw) + 100px);
    margin-left: -35vh;
    transform: translateY(min(-29vw,-40vw));
    display: grid;
    grid-template-columns: repeat(auto-fit,calc(var(--s) + 2*var(--mh)));
    justify-content:center;
    --s: 80px; /* size */
    --r: 1.15; /* ratio */
    /* clip-path */
    --h: 0.5;  
    --v: 0.25; 
    --hc:calc(clamp(0,var(--h),0.5) * var(--s)) ;
    --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r)); 
    
    /*margin */
    --mv: 1px; /* vertical */
    --mh: calc(var(--mv) + (var(--s) - 2*var(--hc))/2); /* horizontal */
    /* for the float*/
    --f: calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);
  }
  
  .hex-bg {
    

    grid-column: 1/-1;
    /* width: 110vh;
    height: 100vw; */
    margin:0 auto;
    font-size: 0; /*disable white space between inline block element */
    position:relative;
    /* padding-bottom:50px; */
    /* filter:drop-shadow(2px 2px 1px #333) */
  }
  
  .hex-bg div {
    width: var(--s);
    margin: var(--mv) var(--mh);
    height: calc(var(--s)*var(--r)); 
    display: inline-block;
    font-size:initial;
    /* clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc)); */
    margin-bottom: calc(var(--mv) - var(--vc)); 
  }
  
  .hex-bg::before{
    content: "";
    width: calc(var(--s)/2 + var(--mh));
    float: left;
    height: 100%;
    shape-outside: repeating-linear-gradient(     
                     transparent 0 calc(var(--f) - 2px),      
                     #fff        0 var(--f));
  }

  .hex-bg div {
    /* background-color: var(--red); */
    justify-content: center;
    align-items: center;
    font-weight:bold;
    text-align:center;
    
    
  }

  .hex-bg div p {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 10px;
    transform: rotate(90deg);
  }

  .hex-bg img {

    display: block;
    position: relative;
    transform: rotate(90deg) scale(1.2);
  }
  
  
  .hex-bg div::before {
    /* padding-top:80px; */
    /* content:"DANGER"; */
    /* font-size:75px; */
    /* font-family:sans-serif; */
    position:absolute;
    display: flex;
    /* background-color: var(--red); */
    /* background-image: url("/images/warning_hex_red.png");
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 50px; */
    /* inset:0; */
  }
  
  .hex-bg div {
    /* animation:show 5s ease-in-out; */
    animation:showPopUp 0.3s ease-in-out forwards;
    opacity:0;
    transform: scale(0.5);
  }
  
  
  @keyframes show{
    10% {
       opacity:1;
       transform: scale(1);
    }
    90% {
       opacity:1;
       transform: scale(1);
    }
  }
  
  .mapboxgl-popup-close-button {
    font-size: 24px;
  }