:root {
    --orange: #fc7216;
}

.card {
    background-color: black;
    border: 3px var(--orange) solid;
    transition: 0.3s;

    color: white;
}

.card-header {
    padding: 6px;
    border-bottom: 3px var(--orange) solid;
    color: var(--orange);
    position: relative;
}

.card-content {
    padding: 12px;
}