
.warning-wrapper {
    background: #fc7216;
    position: absolute;
    height: 100px;
    max-width: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: showWarningAlert 0.3s ease-in-out forwards;
}

.warning-shape {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hex {
    scale: 1;
    
}

.warning-wrapper .hex:nth-child(1) {
    margin-left: -20%;
}

.warning-wrapper .hex:nth-child(2) {
    margin-right: -20%;
}



.warning-wrapper.close {
    animation: closeWarningAlert 0.3s ease-in-out forwards  !important;
}

@keyframes showWarningAlert {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeWarningAlert {
    0% {
        display: block;
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
        display: none;
    }
}